In [1]:
import pandas as pd
import numpy as np

In [6]:
# load the dataset
df=pd.read_csv('Electoral Bonds.csv')
df.head()

,Sr No._x,Reference No (URN),Journal Date,Date of\rPurchase,Date of Expiry,Name of the Purchaser,Prefix_x,Bond\rNumber,Denominations,Issue Branch Code,Issue Teller,Status,Date of\rEncashment,Name of the Political Party,Account no. of\rPolitical Party,Pay Branch\rCode,Pay Teller
0,1,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11448,"10,00,000",1,5899230,Paid,25/Apr/2019,BHARATIYA JANATA PARTY,*******8244,691,3300196
1,2,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11447,"10,00,000",1,5899230,Paid,25/Apr/2019,BHARATIYA JANATA PARTY,*******8244,691,3300196
2,3,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,TL,11441,"10,00,000",1,5899230,Paid,25/Apr/2019,BHARATIYA JANATA PARTY,*******8244,691,3300196
3,4,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1113,"1,00,000",1,5899230,Paid,25/Apr/2019,BHARATIYA JANATA PARTY,*******8244,691,3300196
4,5,00001201904120000001166,12/Apr/2019,12/Apr/2019,26/Apr/2019,A B C INDIA LIMITED,OL,1118,"1,00,000",1,5899230,Paid,25/Apr/2019,BHARATIYA JANATA PARTY,*******8244,691,3300196

In [7]:
# to know how many columns are there
df.columns

Index(['Sr No._x', 'Reference No  (URN)', 'Journal Date', 'Date of\rPurchase',
       'Date of Expiry', 'Name of the Purchaser', 'Prefix_x', 'Bond\rNumber',
       'Denominations', 'Issue Branch Code', 'Issue Teller', 'Status',
       'Date of\rEncashment', 'Name of the Political Party',
       'Account no. of\rPolitical Party', 'Pay Branch\rCode', 'Pay Teller'],
      dtype='object')

In [8]:
# to know the more information about the dataset like datatype ,null values ,column names etc
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18741 entries, 0 to 18740
Data columns (total 17 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Sr No._x                        18741 non-null  int64
 1   Reference No  (URN)             18741 non-null  object
 2   Journal Date                    18741 non-null  object
Purchase                18741 non-null  object
 4   Date of Expiry                  18741 non-null  object
 5   Name of the Purchaser           18741 non-null  object
 6   Prefix_x                        18741 non-null  object
Number                     18741 non-null  int64
 8   Denominations                   18741 non-null  object
 9   Issue Branch Code               18741 non-null  int64
 10  Issue Teller                    18741 non-null  int64
 11  Status                          18741 non-null  object
Encashment              18741 non-null  object
 13  Name of the Political Party     18741 non-null  object
Political Party  18741 non-null  object
Code                 18741 non-null  int64
 16  Pay Teller                      18741 non-null  int64
dtypes: int64(6), object(11)
memory usage: 2.4+ MB

In [9]:
# remove unwanted columns from the dataset
df.drop('Sr No._x',axis=1,inplace=True)

In [11]:
# Rename the columns for the reference
df.rename(columns={'Date of\rPurchase':'Purchase Date',
       'Date of Expiry':'Expiry Date', 'Name of the Purchaser':'Purchaser Name', 'Prefix_x':'Prefix', 'Bond\rNumber':'Bond Number',
       'Date of\rEncashment':'Date of Encashment', 'Name of the Political Party':'Political Party',
       'Account no. of\rPolitical Party':'Political Party Account no.', 'Pay Branch\rCode':'Pay Branch Code'},inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18741 entries, 0 to 18740
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Reference No  (URN)          18741 non-null  object
 1   Journal Date                 18741 non-null  object
 2   Purchase Date                18741 non-null  object
 3   Expiry Date                  18741 non-null  object
 4   Purchaser Name               18741 non-null  object
 5   Prefix                       18741 non-null  object
 6   Bond Number                  18741 non-null  int64
 7   Denominations                18741 non-null  object
 8   Issue Branch Code            18741 non-null  int64
 9   Issue Teller                 18741 non-null  int64
 10  Status                       18741 non-null  object
 11  Date of Encashment           18741 non-null  object
 12  Political Party              18741 non-null  object
 13  Political Party Account no.  18741 non-null  object
 14  Pay Branch Code              18741 non-null  int64
 15  Pay Teller                   18741 non-null  int64
dtypes: int64(5), object(11)
memory usage: 2.3+ MB

In [18]:
df.columns

Index(['Reference No  (URN)', 'Journal Date', 'Purchase Date', 'Expiry Date',
       'Purchaser Name', 'Prefix', 'Bond Number', 'Denominations',
       'Issue Branch Code', 'Issue Teller', 'Status', 'Date of Encashment',
       'Political Party', 'Political Party Account no.', 'Pay Branch Code',
       'Pay Teller'],
      dtype='object')

In [27]:
df.to_csv('Electoral Bonds clean.csv',index=False)